[project]
name = "scraper"
version = "0.1.0"
description = "Immoscout scraper application"
dependencies = [
    "pydantic",
    "requests",
    "beautifulsoup4",
]
requires-python = ">=3.10"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
